//Colores principales
$color-primario: #262626;
$color-secundario: #fff;
$color-destaque: #ff671f;

//caracteristicas del header

$header: $color-primario; // Color del header
$header-texto: #ccc; //Color del texto del header

//caracteristicas del footer

$footer: $color-primario;
$footer-texto: white;

//Ancho máximao de pantalla
$larguraMaxTela: 1920px;

h1 {font-size: 2.85rem !important;}
h2 {font-size: 2rem !important;}
h3 {font-size: 1.65rem !important;}
h4 {font-size: 1.45rem !important;}
p {font-size: 1.15rem !important;}

$mobile-h1-font-size: 1.8rem !important;
$mobile-h2-font-size: 1.8rem !important;
$mobile-h3-font-size: 1.5rem !important;
$mobile-h4-font-size: 1.25rem !important;
$mobile-p-font-size: 1rem !important;
@media (max-width: 600px) {
  h1 { font-size: $mobile-h1-font-size !important; }
  h2 { font-size: $mobile-h2-font-size !important; }
  h3 { font-size: $mobile-h3-font-size !important; }
  h4 { font-size: $mobile-h4-font-size !important; }
  p { font-size: $mobile-p-font-size !important; }
}


html {
  height: max-content;
  body {
    height: 100%;
    overflow-x: hidden;
    max-width: $larguraMaxTela;
    margin: auto;
    #content {
      height: 100%;
      display: flow-root;
      .row {
        padding-top: 0px;
      }
    }
  }
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/blur-cellphone-close-up-device-196646.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  nav {
    background-color: transparent;
    box-shadow: none;
    ul {
      li {
        a {
          color: $header-texto;
          &:hover {
            color: $color-secundario;
          }
        }
      }
    }
  }

  .texto-principal {
    color: white;
    text-align: center;
  }

  .diferenciales {
    color: white;
    padding: 25px;
    .col {
      width: 33.333%;
      .diferencial {
        margin: auto !important;
        width: 200px;
        .img-diferencial {
          margin: auto;
          max-width: 150px;
        }
      }
    }
    @media(max-width: 600px) {
      .col {
        margin-bottom: 25px;
        width: 100%;
        .diferencial {
          margin: auto !important;
          width: 200px;
          .img-diferencial {
            margin: auto;
            max-width: 150px;
          }
        }
      }
    }
  }

  .action-call {
    color: white;
  }

  .page-footer{
      background-color: $footer !important;
      color: $footer-texto !important;
      ul {
          li{
              a{
                  color: darken($footer-texto, 15%) !important;
              }
          }
      }
      .footer-copyright {
          background-color: darken($footer, 15%) !important;
          color: $footer-texto !important;
          div {
              a {
                color: darken($footer-texto, 15%) !important;
              }
          }
      }
  }
}
